run-name: Deploy ${{github.event.client_payload.app }}

on:
  repository_dispatch:
    types: [deploy_request]

jobs:
  build-frontend:
    if: ${{ github.event.client_payload.app == 'PTL-fe' }}
    uses: ./.github/workflows/feBuildAndPublish.yml
    with:
      environment: ${{ github.event.client_payload.branch }}
    secrets: inherit

  build-backend:
    if: ${{ github.event.client_payload.app == 'PTL-be' }}
    uses: ./.github/workflows/beBuildAndPublish.yml
    with:
      environment: ${{ github.event.client_payload.branch }}
    secrets: inherit
