name: Deploy

on:
  repository_dispatch:
    types: [deploy_request]

jobs:
  deploy-frontend:
    if: ${{ github.event.client_payload.app == 'frontend' }}
    uses: ./.github/workflows/feBuildAndPublish.yml@main
    secrets: inherit

  deploy-backend:
    if: ${{ github.event.client_payload.app == 'backend' }}
    uses: ./.github/workflows/beBuildAndPublish.yml@main
    secrets: inherit
