name: Deploy on External Trigger

on:
  repository_dispatch:
    types: [deploy_request]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Private Code
        uses: actions/checkout@v6
        with:
          repository: buenosdiasn/${{ github.event.client_payload.app }}
          ref: ${{ github.event.client_payload.branch }}
          token: ${{ secrets.GHA_PAT }}
